
<link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet">

.bgimg {
height: 100%;
background-position: center;
background-size: cover;
position: relative;
color:white;
font-family:'Khand', sans-serif;
font-size:  25px;
}
