
    body{
            height: 100%;

            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            font-family: fantasy;
            font-size:14px;
        }
            h1{
                background-color:#d84ee5
                color:#141516;
                padding:2px;
                text-align:center;
            }

            h2{
            border-bottom-color:#81858c;
            color:#141516;
            padding:4px;
            border-bottom-style:dashed
            }

            h3{
            color:#141516;
            font-size:27px;
            padding:4px;
            border-bottom-style:dashed;
            border-bottom-color:#81858c
            }
    .topnav {
    margin-top: 40px;
padding: 24px;
text-align: center;
font-family: Raleway;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
