
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    font-size:25px;
    background-color: #dcd0c0;
    color: #373737;
}
#bg{
height:100%;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
p{
    background-color: #dcd0c0;
    width:80%;

}
        #nav{
            background: rgba(255,255,255, 0.3);
            overflow: hidden;
            position:fixed;
            top:0;
            width: 100%;
        }
        #nav a{
            float: left;
            display: block;
            color: #D4AF37;
            text-align: center;
            padding: 14px;
            text-decoration: none;
            font-size: 20px;
        }
        #nav li{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        #nav a:hover{
            background-color: #000000;
        }
            .fa {
                padding: 20px;
                font-size: 30px;
                width: 30px;
                text-align: center;
                text-decoration: none;
                border-radius: 50%;
            }
            .fa:hover{
                opacity: 0.7;
            }
                .fa-twitter{
                    background:#55acee;
                    color:white;
                }
                .fa-snapchat-ghost{
                    background:#fffc00;
                    color:white;
                    text-shadow: -1px 0 black, 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                }
                .fa-pinterest{
                    background:#cb2027;
                    color:white;
                }
                .fa-linkedin{
                    background: #007bb5;
                    color:white;
                }
                .fa-youtube{
                    background: #bb0000;
                    color:white;
                }
                .fa-instagram{
                    background: #125688;
                    color:white;
                }
            #sidebar {
            position:fixed;
            right: 0; top:0;  0; bottom:0;
            width:250px;
            background:#ffffff;
            background: rgba(255,255,255, 0.3);
            font-size: 14px;
            }

        h1{
            color:#C0B283;
            text-align:center;
            }
        h3{
            font-size:40px;

        }
        img src{
            height: 100%;
            background-position: center;
            background-size: cover;
            position: relative;
        }
        #intro{
            color:#D4AF37;
            background-color: #ffffff;
            font-size:25px;
            width: 100%;
            height:500px;
            }
        #blogPosts{
            color:#D4AF37;
            background-color: #ffffff;
            font-size: 25px;
            width: 100%;
            height:1000px;
            }
        #pictures{
            color:#D4AF37;
            background-color: #ffffff;
            font-size: 25px;
            width: 100%;
            height:1000px;
            }
        #subscription{
            color:#D4AF37;
            background-color:#ffffff ;
            font-size: 25px;
            width: 100%;
            height:200px;
            }
        div{
            max-width:4000px;
            margin: auto;
            padding: 10px;
            background-color: #ffffff;

            border-radius: 15px;
        }
        #BGM{

            color: #D4AF37;
            text-align: center;
            background: #000000;

        }
